.max-2xl-container {
    max-width: 1620px !important;
}

/* CSS clip-path for a similar shape */
.clip-path-right {
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 85% 100%, 0% 100%);
    overflow: hidden;
}
.clip-path-left {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 16% 100%, 0% 86%);
    overflow: hidden;
}

.slick-prev, .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10; /* Ensure arrows are on top of the content */
}

.slick-prev {
  left: -40px; /* Adjust this value to move the button inside or outside */
}

.slick-next {
  right: -40px; /* Adjust this value to move the button inside or outside */
}

.priority-slider-wrapper {
  overflow: hidden !important;
  width: 100% !important;
  position: relative !important;
}

.priority-cards {
  display: flex !important;
  flex-wrap: nowrap !important;
}

.research {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}

.research {
  overflow: hidden; /* Ensures content outside the container is hidden */
  display: flex;
  flex-wrap: nowrap; /* Prevents wrapping of slides */
  position: relative; /* To keep child elements positioned relative to the container */
}

.research > div {
  flex: 0 0 calc(25% - 16px); /* Each card takes up 25% of the container width */
  margin-right: 16px; /* Adjust for spacing between cards */
  box-sizing: border-box;
}





