.max-2xl-container {
    max-width: 1680px !important;
}


/* CSS clip-path for a similar shape */
.clip-path-right {
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 85% 100%, 0% 100%);
    overflow: hidden;
}
.clip-path-left {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 16% 100%, 0% 86%);
    overflow: hidden;
}

.slick-prev, .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10; /* Ensure arrows are on top of the content */
}

.slick-prev {
  left: -40px; /* Adjust this value to move the button inside or outside */
}

.slick-prev:before {
  color: black;
}
.slick-next:before {
  color: black;
}

.slick-next {
  right: -40px; /* Adjust this value to move the button inside or outside */
}



.priority-slider-wrapper {
  overflow: hidden !important;
  width: 100% !important;
  position: relative !important;
}

.priority-cards {
  display: flex !important;
  flex-wrap: nowrap !important;
}

.research .slick-slide {
  padding: 1rem; /* Add spacing between slides */
  box-sizing: border-box;
}

.research .slick-slide div {
  max-width: 300px; /* Limit card width */
  text-align: left; /* Align content to the left */
}

.research img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.research p {
  line-height: 1.5;
  margin: 0.5rem 0; /* Proper spacing between text elements */
}

.research a {
  text-transform: uppercase;
  font-weight: bold;
  color: #ED3237;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}










